
.page {
    position: relative;
    min-height: 100vh;
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/* Hero banner */
.hero-banner {
    width: 100%;
    height: 350px;
    background-color: var(--hero-banner-background-color);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}









