
.page {
    position: relative;
    min-height: 100vh;
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/* Hero banner */
.hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-color: var(--hero-banner-background-color);
    z-index: 0;

  background-image: url(/images/hero-banners/background-pattern.svg);
  background-repeat: repeat;
  background-size: 500px 500px;
}

/* Hero banner background */

.hero-banner {
  position: relative;
  height: 350px;
  overflow: hidden;
  z-index: 1;
}


/* silhouettes */

.silhouette-dog {
  position: absolute;
  left: 420px;
  height: 250px;
}

.silhouette-cat {
  position: absolute;
  right: 420px;
  height: 250px;
}
